/*MEDIAS MAIN*/

@media screen and (min-width: map-get($breakpoints, md)){

/*BOOSTRAP*/
    .navbar{
       background-color: rgba(141, 27, 84, 0) !important;
       height: 150px !important;
       position:absolute;
       .container-fluid{
        button {
            display: flex;
            flex-direction: row;
            align-items: center;
            align-self: center;
            align-content: center;
            
            font-size: 18px;
            #light-nav{
                display: inherit;
                padding-right: 5px;
                margin-bottom: 0px;
                color: #fff;
            }
    } 
}
    }
    .carousel-item{
        img{
            height: 100vh;
            object-fit: cover;
        }
    }
    .carousel-lema{
        position:absolute !important;
        width: 100% !important;
        height: 400px !important;
        bottom: 0px !important;
        min-height: auto;
        div{
            #item-1{
                background-color: rgba(141, 27, 84, 0) !important;
                h2{
                    font-size: 80px !important;
                    line-height: 80px;
                    font-weight: 100;
                    text-align: right;
                    padding-right: 70px;
                    padding-left: 150px;
                }
            }
            #item-2{
                background-color: rgba(141, 27, 84, 0) !important;
                h2{
                    font-size: 80px !important;
                    line-height: 80px;
                    font-weight: 100;
                    text-align: right;
                    padding-right: 70px;
                    padding-left: 10px;
                }
            }
            #item-3{
                background-color: rgba(141, 27, 84, 0) !important;
                h2{
                    font-size: 80px !important;
                    line-height: 80px;
                    font-weight: 100;
                    text-align: right;
                    padding-right: 70px;
                    padding-left: 10px;
                }
            }
            #item-4{
                background-color: rgba(141, 27, 84, 0) !important;
                h2{
                    font-size: 80px !important;
                    line-height: 80px;
                    font-weight: 100;
                    text-align: right;
                    margin-top: 100px;
                    padding-right: 70px;
                    padding-left: 10px;
                }
            }
            #item-5{
                background-color: rgba(141, 27, 84, 0) !important;
                h2{
                    font-size: 80px !important;
                    line-height: 80px;
                    font-weight: 100;
                    text-align: right;
                    padding-right: 70px;
                    padding-left: 10px;
                }
            }
            #item-6{
                background-color: rgba(141, 27, 84, 0) !important;
                h2{
                    font-size: 80px !important;
                    line-height: 80px;
                    font-weight: 100;
                    text-align: right;
                    padding-right: 70px;
                    padding-left: 10px;
                    margin-top: 100px;
                }
            }
            #item-7{
                background-color: rgba(141, 27, 84, 0) !important;
                h2{
                    font-size: 80px !important;
                    line-height: 80px;
                    font-weight: 100;
                    text-align: right;
                    padding-right: 70px;
                    padding-left: 150px;
                }
            }
        }
    }

/*Introduccion*/
.container-fluid{
    img{
        width: 200px;
        height: auto;
    }
}

.intro{
    h2{
        font-size: 50px;
    }
    p{
        padding: 40px;
        font-size: 18px;
    }
}
.intro_why{
    height: 90vh;
    h3{
        font-size: 50px;
        font-weight: 300;
        text-align: center;
        line-height: 50px;
    }
}
/*ACORDION*/
.accordion-main{
    width: 80% !important;
    margin: auto auto;
    div h2 button{
        font-size: 40px !important;
    }
}

/*AREAS*/

#areas-h2{
    display: none;
}
.areas{
    margin-top: 100px;
    grid-template-columns: 50% 50%;
    grid-template-areas:
    "area-1 area-2"
    "area-3 area-4"
    "area-5 area-5" ;

    #area-1{
        grid-area: area-1;
    }
    #area-2{
        grid-area: area-2;
    }
    #area-3{
        grid-area: area-3;
    }
    #area-4{
        grid-area: area-4;
    }
    #area-5{
        grid-area: area-5;
    }
}
#index-article{
    padding-left: 100px;
    padding-right: 100px;
}
/*CAROUSEL TEAM*/
#legal-h2{
    display: none;
}
.carousel-team{
    margin-top: 200px !important;
    div{
        .carousel-caption{
            display:flex;
            align-items:flex-end !important;
            min-height: 0% !important;
        }
        img{
        object-fit: contain;
        }
}
}

/*Frase*/

.main_frase{
    display: flex;
    flex-direction: row;
    padding-top: 100px;
    padding-bottom: 100px;
    #img-1{
        position: relative;
        bottom: 70px !important;
        padding: 0px;
    }
    #img-2{
        position: relative;
        top: 0px !important;
        padding: 0px;
    }
}
}
@media screen and (min-width: map-get($breakpoints, lg)){
    .container-fluid{
        img{
            width: 200px;
            height: auto;
        }
    }
  
    .navbar-nav{
        background-color:  rgba(141, 27, 84, 0) !important;
        li a{
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            font-size: 12px;
            padding: 10px !important;
        }
    }
    .intro{
        margin: 200px;
    }
    .areas{
        display: flex;
        flex-direction: row;
    }
    #area-1{
        width: 20%;
        h4{
            font-size: 25px !important;
        }
    }

}
@media screen and (min-width: map-get($breakpoints, xl)){
    .navbar-collapse{
        padding-left: 130px;
    }
    .navbar-nav{
        li a{
            font-size: 16px;
        }
    }
    .areas{
        display: flex;
        flex-direction: row;
    }
    #area-1{
        width: 20%;
        h4{
            font-size: 34px !important;
        }
    }
}

/*MEDIAS QS*/

@media screen and (min-width: map-get($breakpoints, md)){
    .qs_main{
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: auto;
        grid-area: 
        "section aside"
        "section aside"
        "section aside"
        "section aside";
        .qs_aside{
            grid-area: aside;
            grid-column: 2;
            #legal-h2{
                display: inherit;
                position: relative;
            }
            .qs-carousel{
                bottom: 310px;
            }
        }
        .qs_section{
            grid-area: section;
            grid-column: 1;
            padding-top: 70px;
            h1{
                padding: 20px !important;
                font-size: 55px !important;
                line-height: 80px !important;
            }
        }
    }
    .qs_img_container{
        background: url("../images/intro-hover.jpg") no-repeat center;
        background-position: -550px -450px;
        height: 95vh;
        .qs_title{
            background-color: rgba(141, 27, 84, 0) !important;
            font-size: 70px;
            align-items: center;
            text-align: center;
            align-content: center;
            margin-left: 50%;
            margin-bottom: 20%;
        }
    }
    .qs-carousel{
        .carousel-team{
            top: 50px;
        }
    }
    
}
@media screen and (min-width: map-get($breakpoints, lg)){
    .qs_main{
        grid-template-columns: 70% 30%;
        .qs_section{
            padding-right: 80px;
        }
    }
    .qs_img_container{
        background-position: center -450px;
    }
    .qs-carousel{
        bottom: 300px !important;
    
    }
}
@media screen and (min-width:map-get($breakpoints, xl)){
    .qs-carousel{
        bottom: 250px !important;
    }
}
/*MEDIAS de Nuestro equipo*/


@media screen and (min-width: map-get($breakpoints, md)){
    .cards-ne{
        flex-direction: inherit;
        flex-wrap: wrap;
    }
    .ne-navbar{
        background-color: #fff !important;
        border-bottom: 2px solid $celeste;
        .container-fluid{
            button {
                display: flex;
                flex-direction: row;
                align-items: center;
                align-self: center;
                align-content: center;
                
                color: #000;
                border-color: #000 !important;
                font-size: 18px;
                p{
                    display: inherit;
                    padding-right: 5px;
                    margin-bottom: 0px;
                }
                svg{
                color: #000 !important;
            }
        } 
    }
}
#ne-h1{
    padding: 180px 0px 30px 0px;


    font-size: 74px;
    font-family: 'Roboto';
    font-weight: 100;
    text-align: center;
    color: $rosa;
    i{
        color: $celeste;
    }
}
}
@media screen and (min-width: map-get($breakpoints, lg)){
    .menu-button{
        display: none !important;
    }
    #ne-a{
        color: $negro !important;
        font-weight: 300;
        &:hover{
            color: #fff !important;
        }
    }
}

/*Que Hacemos Medias*/

@media screen and (min-width: map-get($breakpoints, md)){
    #qh-background{
        background-repeat: no-repeat;
        background-position: -900px -400px;
        background-size: 220%;
        height: 95vh !important;
        display: flex;
        align-items: center;
        text-align: center;
        align-content: center;
        div h2{
            background-color: rgba(141, 27, 84, 0) !important;
            font-size: 80px;
            padding-left: 80px;
            i{
                color: $verde-claro;
            }
           
        }
    }
    .qh-article{
        padding-top: 40px;
        h1{
            font-size: 55px;
            line-height: 76px;
        }
    }
    #qh-areas{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (min-width: map-get($breakpoints, lg)){
    #qh-background{
        background-position: -700px -450px;
        background-size: 170%;
        div h2{
            padding-left: 250px;
        }
    }
    #qh-areas{
        padding-left: 10px;
        padding-right: 10px;
        #area-1, #area-2, #area-3, #area-4, #area-5 {
            width: 100%;
            h4{
                font-size: 30px !important;
            }
        }
    }
}
@media screen and (min-width: map-get($breakpoints, xl)){
    #qh-background{
        background-position: -300px -400px;
        background-size: 125%;
        height: 85vh !important;
        div h2{
            padding-left: 600px !important;
        }
    }
}
@media screen and (min-width:map-get($breakpoints, md)){
    #rep-background{
        background-repeat: no-repeat;
        background-position: center -400px;
        background-size: 240%;
        height: 95vh !important;
        display: flex;
        align-items: center;
        text-align: center;
        align-content: center;
        div h2{
            background-color: rgba(141, 27, 84, 0) !important;
            font-size: 80px;
            padding-right: 80px;
            text-align: right;
            i{
                color: $verde-claro;
            }
           
        }
    }
    .rep-article{
        padding-top: 40px;
    }
}
@media screen and (min-width: map-get($breakpoints, lg)){
    #rep-background{
        background-position: -400px -400px;
        background-size: 180%;
        div h2{
            padding-left: 250px;
        }
    }
    #rep-areas{
        padding-left: 10px;
        padding-right: 10px;
        #area-1, #area-2, #area-3, #area-4, #area-5 {
            width: 100%;
            h4{
                font-size: 30px !important;
            }
        }
    }
    .rep-article{
        h1{
            font-size: 60px;
            line-height: 84px;
            font-weight: 300;
        }
    }
}
@media screen and (min-width: map-get($breakpoints, xl)){
    #rep-background{
        background-position: -300px -400px;
        background-size: 125%;
        height: 85vh !important;
        div h2{
            padding-left: 600px !important;
        }
    }
}

/*ENCONTRANOS*/


@media screen and (min-width: map-get($breakpoints, md)){
    #main-en{
        background-image: url('../images/slide-5-hover.jpg');
        background-repeat: no-repeat !important;
        background-position: center center;
        padding-bottom: 100px;
        div h2{
            font-size: 45px;
            line-height: 60px;
        }
        div p{
            font-size: 30px;
            line-height: 36px;
        }
    }
    #en-nav{
        position: absolute;
    }
}
@media screen and (min-width: map-get($breakpoints, lg)){
    #main-en{
        background-size: cover;
        div h2{
            font-size: 55px;
            line-height: 70px;
        }
    }
    #div-2{
        padding-left: 120px;
    }
}
@media screen and (min-width: map-get($breakpoints, xl)){
    #main-en{
        padding-left: 50px;
        padding-right: 50px;
    }
}


   
   


