/*MEDIAS MAIN*/

@media screen and (min-width: 768px){

/*BOOSTRAP*/
    .navbar{
       background-color: rgba(141, 27, 84, 0) !important;
       height: 150px !important;
       position: fixed;
    }
    .carousel-lema{
        position:absolute !important;
        width: 100% !important;
        height: 400px !important;
        bottom: 0px !important;
        min-height: auto;
        div{
            #item-1{
                background-color: rgba(141, 27, 84, 0) !important;
                h2{
                    font-size: 80px !important;
                    line-height: 80px;
                    font-weight: 100;
                    text-align: right;
                    padding-right: 70px;
                    padding-left: 150px;
                }
            }
            #item-2{
                background-color: rgba(141, 27, 84, 0) !important;
                h2{
                    font-size: 80px !important;
                    line-height: 80px;
                    font-weight: 100;
                    text-align: right;
                    padding-right: 70px;
                    padding-left: 10px;
                }
            }
            #item-3{
                background-color: rgba(141, 27, 84, 0) !important;
                h2{
                    font-size: 80px !important;
                    line-height: 80px;
                    font-weight: 100;
                    text-align: right;
                    padding-right: 70px;
                    padding-left: 10px;
                }
            }
            #item-4{
                background-color: rgba(141, 27, 84, 0) !important;
                h2{
                    font-size: 80px !important;
                    line-height: 80px;
                    font-weight: 100;
                    text-align: right;
                    margin-top: 100px;
                    padding-right: 70px;
                    padding-left: 10px;
                }
            }
            #item-5{
                background-color: rgba(141, 27, 84, 0) !important;
                h2{
                    font-size: 80px !important;
                    line-height: 80px;
                    font-weight: 100;
                    text-align: right;
                    padding-right: 70px;
                    padding-left: 10px;
                }
            }
            #item-6{
                background-color: rgba(141, 27, 84, 0) !important;
                h2{
                    font-size: 80px !important;
                    line-height: 80px;
                    font-weight: 100;
                    text-align: right;
                    padding-right: 70px;
                    padding-left: 10px;
                    margin-top: 100px;
                }
            }
            #item-7{
                background-color: rgba(141, 27, 84, 0) !important;
                h2{
                    font-size: 80px !important;
                    line-height: 80px;
                    font-weight: 100;
                    text-align: right;
                    padding-right: 70px;
                    padding-left: 150px;
                }
            }
        }
    }

/*Introduccion*/
.container-fluid{
    img{
        width: 200px;
        height: auto;
    }
}

.intro{
    h2{
        font-size: 50px;
    }
    p{
        padding: 40px;
        font-size: 18px;
    }
}
.intro_why{
    height: 90vh;
    h3{
        font-size: 50px;
        font-weight: 300;
        text-align: center;
        line-height: 50px;
    }
}
/*ACORDION*/
.accordion-main{
    width: 80% !important;
    margin: auto auto;
    div h2 button{
        font-size: 40px !important;
    }
}

/*AREAS*/

#areas-h2{
    display: none;
}
.areas{
    margin-top: 100px;
    grid-template-columns: 50% 50%;
    grid-template-areas:
    "area-1 area-2"
    "area-3 area-4"
    "area-5 area-5" ;

    #area-1{
        grid-area: area-1;
    }
    #area-2{
        grid-area: area-2;
    }
    #area-3{
        grid-area: area-3;
    }
    #area-4{
        grid-area: area-4;
    }
    #area-5{
        grid-area: area-5;
    }
}
article{
    padding-left: 100px;
    padding-right: 100px;
}
/*CAROUSEL TEAM*/
#legal-h2{
    display: none;
}
.carousel-team{
    margin-top: 200px !important;
    div{
        .carousel-caption{
            display:flex;
            align-items:flex-end !important;
            min-height: 0% !important;
        }
        img{
        object-fit: contain;
        }
}
}

/*Frase*/

.main_frase{
    display: flex;
    flex-direction: row;
    padding-top: 100px;
    padding-bottom: 100px;
    #img-1{
        position: relative;
        bottom: 70px !important;
        padding: 0px;
    }
    #img-2{
        position: relative;
        top: 0px !important;
        padding: 0px;
    }
}
}
@media screen and (min-width: 1024px){
    .container-fluid{
        img{
            width: 200px;
            height: auto;
        }
    }
  
    .navbar-nav{
        background-color:  rgba(141, 27, 84, 0) !important;
        li a{
            font-family: 'Roboto', sans-serif;
            font-weight: 200;
            font-size: 12px;
        }
    }
    .intro{
        margin: 200px;
    }
    .areas{
        display: flex;
        flex-direction: row;
    }
    #area-1{
        width: 20%;
        h4{
            font-size: 25px !important;
        }
    }

}
@media screen and (min-width: 1440px){
    .navbar-collapse{
        padding-left: 130px;
    }
    .navbar-nav{
        li a{
            font-size: 18px;
        }
    }
    .areas{
        display: flex;
        flex-direction: row;
    }
    #area-1{
        width: 20%;
        h4{
            font-size: 34px !important;
        }
    }
}

/*MEDIAS QS*/

@media screen and (min-width: 768px){
    .qs_main{
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: auto;
        grid-area: 
        "section aside"
        "section aside"
        "section aside"
        "section aside";
        .qs_aside{
            grid-area: aside;
            grid-column: 2;
            #legal-h2{
                display: inherit;
                position: relative;
            }
            .qs-carousel{
                bottom: 310px;
            }
        }
        .qs_section{
            grid-area: section;
            grid-column: 1;
            padding-top: 70px;
            h1{
                padding: 20px !important;
                font-size: 55px !important;
                line-height: 80px !important;
            }
        }
    }
    .qs_img_container{
        background: url("../images/intro-hover.jpg") no-repeat center;
        background-position: -550px -450px;
        height: 95vh;
        .qs_title{
            background-color: rgba(141, 27, 84, 0) !important;
            font-size: 70px;
            align-items: center;
            text-align: center;
            align-content: center;
            margin-left: 50%;
            margin-bottom: 20%;
        }
    }
    .qs-carousel{
        .carousel-team{
            top: 50px;
        }
    }
    
}
@media screen and (min-width: 1024px){
    .qs_main{
        grid-template-columns: 70% 30%;
        .qs_section{
            padding-right: 80px;
        }
    }
    .qs_img_container{
        background-position: center -450px;
    }
    .qs-carousel{
        bottom: 300px !important;
    
    }
}
@media screen and (min-width: 1300px){
    .qs-carousel{
        bottom: 250px !important;
    }
}
/*MEDIAS de Nuestro equipo*/


@media screen and (min-width: 768px){
    .cards-ne{
        flex-direction: inherit;
        flex-wrap: wrap;
    }
}
   
   


